<ion-view view-title="רשימת נוסעים">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-if="chat.face" ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.comments}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          מחיקה
        </ion-option-button>
      </ion-item>
    </ion-list>
    <button ng-if="chats.length == 0" class="button button-full button-positive">לא רשומים ילדים</button>
  </ion-content>
</ion-view>
